container {
    font-family: "Lato", sans-serif;
}


.name {
    font-size: 50px; 
    font-weight: 300;
}


.description {
    font-size: 25px;
    font-weight: 100;
}


body {
    display: block;
    margin: 8px;
}


hr {
    border: none;
    height: 5px;
    background-color: #7d97ad;
}


.featured-work-color {
    color: #2d3c49;
}


.featured-work-font-size {
    font-size: 40px;
    color: #7d97ad;
    font-weight: 400;
}


.image-description-color {
    color: #2d3c49;
}